body{background:linear-gradient(135deg,#0b0f2a,#141c4a);color:white;font-family:Arial;text-align:center;}
h1,h2,h3,h4{color:gold;}
.card{background:#1c245e;width:350px;margin:auto;padding:25px;border-radius:12px;box-shadow:0 0 20px rgba(255,215,0,0.3);margin-top:20px;}
button{padding:12px 25px;background:gold;border:none;cursor:pointer;border-radius:8px;font-size:16px;}
input{padding:10px;width:90%;border-radius:6px;border:none;margin-bottom:10px;}
.menu{display:flex;justify-content:center;gap:10px;margin-top:10px;}
.menu button{background:#0b0f2a;color:white;}
table{width:90%;margin:auto;border-collapse:collapse;}
th,td{padding:10px;border:1px solid gold;text-align:center;}